.country {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* margin: auto; */
  margin: 15px;
  position: relative;
}

.country a {
  position: absolute;
  top: 0;
  left: 0;
}

.country__name {
  font-size: 30px;
  color: palevioletred;
  margin-bottom: 30px;
}

.country__detail__box {
  width: 450px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  padding: 20px 0px;
  font-size: 16px;
  text-align: center;
}

.country__detail__box label {
  display: flex;
  font-size: 16px;
  gap: 10px;
  font-weight: 500;
}

.country__detail__box label svg {
  color: #505f6e;
}

.country__detail {
  display: block;
  font-size: 16px;
}

.country hr {
  width: 500px;
}

.country hr:last-child {
  width: 0px;
}

.detail {
  margin: 5px;
}

.detail::after {
  content: ","
}

.detail:last-child::after {
  content: ""
}

