.continent__box {
  display: flex;
  margin-left: 30px;
  width: 95%;
}

.continent__name__box, .continent__countries__list {
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);border-radius: 0;
}

.continent__name__box {
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding: 0px 10px;
  font-size: 30px;
}

.continent__countries__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 0px;
  padding: 10px;
}

.country__box {
  font-size: 16px;
}

.country__box:hover {
  cursor: pointer;
}

.country__box:hover .country__image {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.country__image {
  width: 30px;
  height: 20px;
  margin-right: 5px;
  border-radius: 8px;
}