.continent__box {
  margin: auto;
  width: 95%;
}

.continent__name__box {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.continent__countries__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 0px;
  padding: 10px;
}

.country__box {
  font-size: 16px;
}

.country__box:hover {
  cursor: pointer;
}

.country__box:hover .country__image {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.country__image {
  width: 30px;
  height: 20px;
  margin-right: 5px;
  border-radius: 8px;
}

.btn-continents__box {
  display: flex;
  width: 100%;
  margin: 20px;
  justify-content: center;
  gap: 5px;
}