.continent__box {
  display: flex;
  margin-left: 30px;
  width: 95%;
}

.continent__name__box, .continent__countries__list {
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);border-radius: 0;
}

.continent__name__box {
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding: 0px 10px;
  font-size: 30px;
}

.continent__countries__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 0px;
  padding: 10px;
}