.continent__box {
  margin: auto;
  width: 95%;
}

.country__img {
  width: 400px;
  height: 200px;
  margin-bottom: 10px;
}

.continent__name__box {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: #505f6e;
  margin: 20px 0px;
}


.continent__countries__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 0px;
  padding: 10px;
}

.country__box {
  font-size: 16px;
}

.country__box a {
  text-decoration: none;
}

.country__box:hover {
  cursor: pointer;
}

.country__box:hover .country__image {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.country__image {
  width: 30px;
  height: 20px;
  margin-right: 5px;
  border-radius: 8px;
}

.countries__toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countries__toolbar .input-group {
  width: 250px;
}

.btn-continents__box {
  display: flex;
  width: 100%;
  margin: 20px 0px;
  justify-content: center;
  gap: 5px;
}

.btn-continent {
  width: 80px;
  padding: 4px !important;
}

